body{
  background-color: white;
}
.att-pro-div{
  display: flex;
  justify-content: space-around;
}
div{
  padding: 0;
  margin: 0;
}
.shift{
  padding: 0 5px;
}
.shift-top{
  margin-top: 5px;
}
.bold{
  font-weight: bold;
}
.center{
  text-align: center;
}
.hide{
  display: none;
}
.space-content{
  display: flex;
  justify-content: space-between;
}
a{
  text-decoration: none;
  color: #000a3f;
}
.link:hover{
  cursor: pointer;
}
/* ================================ navbar styles */
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: #000a3f;
  color: white;
  font-size: 18px;
}
.navLogo{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.close, .hanburgerButton{
  display: none !important;
  font-size: 24px !important;
}
.show-close-button{
  display: flex !important;
  color: red;
  font-size: 20px !important;
}

.show-nav-items{
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style: none;
  color: white;
}
.show-close-button:hover, .hanburgerButton:hover{
  cursor: pointer;
}
.nav-items{
  display: flex;
  list-style: none;
}
.nav-items li {
  margin: 0 10px;
  color: white !important;
}

/* ================================landing page styles */
.logDiv{
  margin:30vh auto 0 auto;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}
.descriptiveDiv{
  margin: 0 auto;
  text-align: center;
}
.get-started-button{
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 10px 12px;
  width: 110px;
  margin: 0 auto;
  margin-top: -20px !important;
  font-size: 16px;
  text-decoration: none;
}
.get-started-button:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.description{
  font-family: 'Exo', sans-serif;
  font-size: 32px !important;
}
.description2{
  font-family: 'Exo', sans-serif;
  font-size: 18px;
}
/* ====================================signup styles */
.signupDiv{
  margin: 100px auto;
  text-align: center;
}
.signup-form{
  width: 35%;
  margin: 0 auto;
}
.signup-form input{
  width: 100%;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #000a3f;
  padding: 7px;
  margin: 5px;
}
.signup-button-div{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signup-button-div button{
  border: none;
  color: white;
  background-color: #000a3f;
  padding: 10 25px !important;
  font-size: 14px;
  text-transform: uppercase;
}
/* ===================================dashboard styles */

.dasboardDiv{
  display: flex;
  align-items: flex-start;
}
.dashboard-toggler-div{
  display: none;
}
.toggler{
  margin: 5px 0 0 2px;
}
.close-toggle{
  display: none !important;
}
.dasboard-content{
  background-color: #fafafb;
  width: 230px;
  display: flex;
  flex-direction: column;
  color: #000a3f;
  padding: 0;
  height: 89%;
  list-style-type: none;
  border-right: solid #eeeeee;
}
.dasboard-header{
  text-transform: uppercase;
  text-decoration: underline;
}
.dasboard-content-items{
  margin: 0;
  list-style-type: disc;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0px !important;
  padding: 20px 20px 0 20px !important;
}
.dasboard-content-items li{
  list-style: none;
  margin: 20px 0 !important;
}
.logoutDiv{
  margin: 100px 20px 0 20px !important;
}
.avater-div{
  display: flex;
  align-items: flex-start;
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
  font-family: 'Exo', sans-serif;
}
.avatar-label{
  margin: 25px 0 0 10px;
}
.Avatar{
  width: 50px;
  height: auto;
  border-radius: 50%;
}
.avatar-div-container{
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding: 10px 30px 2px 20px;
  border-bottom: 2px solid #eeeeee;
}
.filter-div{
  margin-top: 15px;
}
.filter-div label{
  font-weight: bold;
}
.search-sales-by-attendant-buttton{
  background-color: #000a3f;
  color: white;
  border-radius: 15px;
  border: none;
  padding: 5px 10px;
}
.test{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.dasboard-display-div{
  text-align: center;
  margin: 20px auto;
  width: 95%;
}
table{

  border-radius: 10px;
  width: 100%;
}
.table-head{
  text-align: center !important;
}
th{
  text-align: left;
}


tfoot {
  background-color: #eee;
  color: #000a3f;
  text-align: center;
}

.table-head{
  text-align: center;
  border-bottom: #000a3f 1px dotted;
}
/* add products form */
#add-product, #add-attendants{
  margin: 50px auto;
  text-align: left;
  width: 50%;
  border: #000a3f 1px solid;
  padding: 30px;
}
#add-product input, #add-attendants input{
  width: 100%;
  border: none;
  margin-top: 10px;
  border-bottom: #000a3f 1px solid;
  padding: 5px;
}
.form-label{
  margin:  0 auto;
  border-bottom: #000a3f 1px dotted;
  width: 100%;
  text-align: center;
}

#add-product button, #add-attendants button{
  width: 100%;
  margin-top: 20px;
  padding: 10px 0;
  background-color: #000a3f;
  color: white;
  border-radius: 5px;
  border: none;
}
#all-attendant-div-frame{
  margin: 0 auto ;
  text-align: center;
}

#all-attendant-div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 5px;
}
.attendant-profile-div{
  width: 250px;
  height: auto;
  margin: 15px auto 0 auto;
  border: #edd 5px solid;
  background-color: #eee;
  position: relative;
  display: flex;
  align-items: flex-start;
  z-index: 90;

}

.attendant-profile-image{
  width: 100%;
  position: relative;
  z-index: 110;
}
.attendant-profile-image:hover{
  cursor: pointer;
  z-index: 1;
}
.attendant-profile-info-div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-left: -250px;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  color: white;
  padding: 20px auto;
}

.attendant-profile-info-div p{
  margin: 44% auto;
}

/* ==================================  attendant dashboard */
.att-dashboard-div{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: #eee 1px solid;
}
.att-dashboard-item{
  padding: 10px;
}

.att-dashboard-item:hover{
  background-color: #eee;
}
.att-dashboard-middle-item-div{
  display: flex;
  margin: 0 10px !important;
  justify-content: space-between;
  width: 55%;
}
.attendant-display-functionality-div{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
/* attendant profile update  */
#att-pro-update-form{
  width: 50%;
  margin: 0 auto;
  text-align: left;
}
#att-pro-update-form input{
  width: 100%;
  padding: 7px 5px;
  margin: 10px 0px;
}
#att-pro-update-form button{
 background-color: #000a3f;
 border: none;
 color: white;
  padding: 10px 30px;
  margin: 7px auto 0 auto !important;
}
.att-pro-pix-div{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
/* ============================================ crete sales style */
.create-sales-frame{
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  border: 1px solid #eee;
}
.create-sales-div{
  background-color: #eee;
  height: 250px;
  padding: 30px 10px 10px 10px;
  text-align: left;
}
.create-sales-select-tag{
  padding: 5px;
  border: none;
}
.create-sales-div-group{
  margin: 5px 0;
}
.create-sales-div-group input{
  padding: 5px;
  border: none;
}
.create-sales-button-div{
  text-align: center;
}
.create-sales-div button{
  background-color: #000a3f;
  color: white;
  border: none;
  /* width: 100%; */
  margin: 10px auto ;
  padding: 10px 70px;
}
.create-sales-label-div{
  text-align: center;
  padding-bottom: 10px;
}
.shopping-cart-increase-th-padding{
  padding: 5px 55px 5px 0px;
  font-weight: bold !important;

}
.delete-cart-item{
  background-color: red;
  border: none;
  padding: 5px;
  color: white;
}
.edit-cart-item{
  background-color: #000a3f;
  border: none;
  padding: 5px;
  color: white;
  margin: 0 5px;
}
.cart-item-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shop-now-button{
  background-color: #000a3f;
  color: white;
  padding: 10px 20px;
  border: none;
}
.shopping-cart-div{
 width: 70%;
}
/*  Attendant profile styles */
.att-pro-div-main{
  text-align: center;
}
.att-pro-div-main h2{
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: 'Courier New', Courier, monospace;
}

.att-pro-main-paragraph{
  width:50%;
}
.att-pro-paragraph{
  display: flex;
  /* width: 90%;    */
}
.att-pro-paragraph-info{
  margin-left: 20%;
}
.att-pro-div-img-div{
  background-color: white;
}
.att-pro-div img{
  width: 50%;
  border-radius: 50%;
}
.att-pro-field-label{
  font-weight: bold;
  text-transform: uppercase;
}
/* ===================================footer styles */
.footerDiv{
  margin-top: 25vh;
  text-align: center;
  font-size: 18px;
}
.copy-right{
  letter-spacing: 25px;
}

/* ========================================= Smallest mobile device */

@media (max-width: 480px) {
  .description{
      font-size: 24px !important;
  }
  .get-started-button{
      padding: 5px 7px;
      width: 110px;
      margin: 0 auto;
      margin-top: -10px !important;
      font-size: 12px;
  }
  .navbar{
      display: block;
  }
  .hanburgerButton{
      display: flex !important;
  }
  .nav-items{
      display: none;
  }
  ul{
      padding: 0 5px !important;
  }
  /* sigup and signin style */
  .signupDiv{
      margin: 50px auto;
 }
  .signup-form{
      width: 90%;
  }
  .signup-button-div button{
      padding: 10 20px !important;
      font-size: 12px;
  }
  .signup-button-div p{
      font-size: 13px;
  }
  .signup-footer, .signin-footer{
      margin-top: 50vh;
  }
  /* ######### dashboard */
  .dasboard-content{
      width: 20px;
  }
  .dasboard-content-increase-with{
      width: 100px;
      background-color: #fafafb;
      display: flex;
      flex-direction: column;
      color: #000a3f;
      padding: 0;
      height: 100%;
      list-style-type: none;
      border-right: solid #eeeeee;
  }
  .dashboard-toggler-div{
      display: flex;
  }
  .dasboard-content-main{
      display: none;
  }
  .dasboard-content-main-show{
      display: block;
  }
  .dasboard-content-items {
     padding: 20px 0 0 5px !important;
     font-size: 14px;
  }
  .logoutDiv {
      margin: 60px 20px 0 20px !important;
  }
  .avatar-div-container{
      display: block;
      padding: 10px 0;
  }

  .filter-div label{
      font-size: 17px;
      display: block;
      text-align: center;
      padding-bottom: 5px;
      margin-top: -10px;
  }
  .filter-div{
      text-align: center;
  }
  .avater-div{
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
  }
  .search-text{
      display: none;
  }
  /* add product form */
  #add-product, #add-attendants{
      margin: 20px auto;
      text-align: left;
      width: 90%;
      border: 1px solid #000a3f;
      padding: 20px 10px;
  }
  #add-attendants{
      border: none;
  }
  #all-attendant-div{
      grid-template-columns: 1fr;
  }
  /* attendant dashboard */
  .att-dashboard-div{
      padding: 5px;
      font-size: 13px;
  }
  .att-dashboard-item{
      padding: 3px;
  }
  .att-dashboard-middle-item-div{
      width: auto;
  }
  /* attendant profile update page */
  #att-pro-update-form{
      width: 90%;
      margin: 20px auto;
  }
  #att-pro-update-form input{
    margin-top: 5px;
  }
  /* ==============create sales styles */
  .create-sales-frame{
      display: block;
      padding: 8px;
      border: 1px solid #eee;
  }
  .attendant-display-functionality-div{
      width: 97%;
  }
  .create-sales-div{
      background-color: #eee;
      width: 85%;
      height: 250px;
      padding: 10px;
      text-align: left;
      margin: 0 auto;
  }
  .shopping-cart-div{
      width: 100%;
      margin-top: 15px;
  }
  .shopping-cart-increase-th-padding{
      padding: 5px 0px;
      font-size: 12px;
      font-weight: bold !important;
  }
  /* Attendant profile styles */
  .att-pro-pix-div{
      display: block;
  }
  .att-pro-div{
      display: block;

  }
  .dasboard-display-div{
      margin: -30px auto 20px auto !important;
  }
  .att-pro-main-paragraph{
      width:90%;
      font-size: 13px;
      margin: 10px auto 0 auto;

  }
  .att-pro-table{
      margin-top: 10px !important;
  }

}
/* =============================== small screen size */
@media (min-width: 481px) and (max-width: 768px){
   /* sigup and signin style */

  .signup-form{
      width: 50%;
  }
  .signup-footer, .signin-footer{
      margin-top: 70vh;
  }
   /* add product form */
   #add-product, #add-attendants{
      margin: 20px auto;
      width: 70%;
      border: 1px solid #000a3f;
      padding: 20px 10px;
  }
  #add-attendants{
      border: none;
  }
  #all-attendant-div{
      grid-template-columns: 1fr;
  }
  /* attendant profile update page */
  #att-pro-update-form{
      width: 80%;
  }
   /* Attendant profile styles */
   .att-pro-pix-div{
      display: block;
  }
  .att-pro-div{
      display: block;

  }
  .dasboard-display-div{
      margin: -30px auto 20px auto !important;
  }
  .att-pro-main-paragraph{
      width:70%;
      font-size: 13px;
      margin: 10px auto 0 auto;

  }
  .att-pro-table{
      margin-top: 10px !important;
  }

  /* 3############ create sales style */
  .create-sales-frame{
      display: block;
      padding: 8px;
      border: 1px solid #eee;
  }
  .attendant-display-functionality-div{
      width: 93%;
  }
  .create-sales-div{
      background-color: #eee;
      width: 50%;
      height: 250px;
      padding: 10px;
      text-align: left;
      margin: 10px 0;
  }
  .shopping-cart-div{
      width: 100%;
      margin-top: 25px;
  }
  .shopping-cart-increase-th-padding{
      padding: 5px 0px;
      font-size: 13px;
      font-weight: bold !important;
  }
  /* Attendant profile styles */
  .att-pro-pix-div{
      display: block;
  }
  .att-pro-div{
      display: block;

  }
  .dasboard-display-div{
      margin: -30px auto 20px auto !important;
  }
  .att-pro-main-paragraph{
      width:90%;
      font-size: 13px;
      margin: 10px auto 0 auto;

  }
  .att-pro-table{
      margin-top: 10px !important;
  }

}
/* Medium screen sizes */
@media (min-width: 769px) and (max-width: 1025px){
   /* sigup and signin style */

  .signup-form{
      width: 50%;
  }
  .signup-footer, .signin-footer{
      margin-top: 70vh;
  }
  /* dashboard */
  #all-attendant-div{
      grid-template-columns: 1fr 1fr;
  }
  /* attendant profile update page */
  #att-pro-update-form{
      width: 65%;
  }
  /* 3############ create sales style */

  .attendant-display-functionality-div{
      width: 93%;
  }
  .create-sales-div{
      background-color: #eee;
      width: 50%;
      height: 250px;
      padding: 10px;
      text-align: left;
      margin: 10px 0;
  }
  .shopping-cart-div{
      width: 100%;
      margin-top: 25px;
  }
  .shopping-cart-increase-th-padding{
      padding: 5px 0px;
      font-size: 14px;
      font-weight: bold !important;
  }

}
